#circleSuccess {
  width: 100% !important;
  height: 100% !important;
  color: #7ed321 !important;
}
#soDiem {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  margin: 0;
  font-size: 3rem;
  transform: translate(-50%, -50%);
}
body .detail-movie .movie .filmPosterTop .circleStar .starMain {
  margin-left: 0 !important;
}
