.apps {
    .apps__bg {
      background: url(./../images/bg-app.jpg);
      background-size: contain;
    }
    .apps__content {
      display: flex;
      padding: 7.5rem 0 5rem 0;
      .apps__item1 {
        width: 50%;
        line-height: 1.5;
        padding: 5rem 1rem 0 1rem;
        h1 {
          color: $primary;
          font-size: xx-large;
          font-weight: 500;
          padding-bottom: 0.5rem;
        }
        p {
          color: $primary;
          font-size: medium;
          font-weight: 500;
          padding-top: 0.3rem;
          padding-bottom: 0.5rem;
        }
        button {
          background-color: $secondary;
          color: $primary;
          font-weight: 500;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 0.3rem;
        }
        a {
          color: $primary;
          text-decoration: none;
          border-bottom: 1px solid $primary;
        }
      }
      .apps__item2 {
        width: 50%;
        padding: 0 13%;
        img {
          width: 100%;
        }
        .apps__item2-img {
          position: relative;
        }
        .apps__item2-slick {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          padding: 0.35rem;
          overflow: hidden;
          border-radius: 2.5rem;
          button {
            display: none !important;
          }
        }
      }
    }
    @media screen and (max-width: 992px) {
      .apps__content {
        flex-wrap: wrap;
        .apps__item1 {
          width: 100%;
          text-align: center;
        }
        .apps__item2 {
          width: 100%;
          padding: 0 25%;
        }
      }
    }
  }
  