.detail-movie {
      background-color: rgb(10, 32, 41);
      padding-bottom: 3rem;
      .detailMainInfo1.h2 {
        font-size: 1.5rem !important;
      }
      .detailMainInfo1 {
        color: #e9e9e9 !important;
      }
      .ageType {
        margin-right: 6px !important;
        margin-top: 6px !important;
        background-color: #fb4226;
        color: #fff;
        border-radius: 4px;
        padding: 0 5px !important;
        display: inline-block;
        text-align: center;
        min-width: 33px;
      }
      .styleGradient {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, rgb(10, 32, 41), transparent 100%);
      }
      .movie {
        position: relative;
        overflow: hidden;
        .movie-img {
            > img {
              height: 800px;
              vertical-align: middle;
              filter: blur(15px);
              margin: -11px 0 -5px -10px;
              width: calc(100% + 5px);
            }
          }
          .filmPosterTop {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            max-width: 870px;
            .filmInTop {
                position: relative;
                padding: 0;
              .posterMain {
                > img{
                  width: 100%;
                }
                .playTrailerDetail {
                  visibility: hidden;
                  opacity: 0;
                  background: 0;
                  border: none;
                  outline: none;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
              &:hover {
                .playTrailerDetail {
                    visibility: visible;
                    opacity: 1;
                }
              }
            }
            .infoMain {
                margin-top: 12%;
            }
          }
          .movie-content{
            position: absolute;
            bottom: 10%;
            left: 35%;
            color: #fff;
            max-width: 35%;
            max-height: 150px;
            padding: 10px;
            overflow: auto;
            &::-webkit-scrollbar {
              width: 0.3rem;
              background: $grey-70;
            }
            &::-webkit-scrollbar-thumb {
              background: $grey-100;
              border-radius: 10px;
            }
          }
      }
      .circleStar {
        margin-top: 7%;
        .cirlcePercent {
            position: relative;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 50%;
          width: 111px;
          height: 111px;
          margin: auto;
          font-size: 126px;
          .circleBorder {
            width: 111px;
            height: 111px;
            background: 0;
            border: 7.5px solid #3a3a3a;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            position: absolute;
          }
          span {
              line-height: 2.1;
              font-size: 4rem;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
        }
        .starMain {
            display: flex;
            align-items: center;
            margin-left: 10px !important;
            .smallStar > img {
                width: 100%;
                max-width: 25px;
              }
          }
      }
    .contentMain {
        max-width: 870px;
        margin: auto;
      //   @media screen and (max-width: 992px) {
      //     transform: translateY(30px);
      //   }
      //   
      //   .showingInfo,
      //   .commentTab {
      //     @media screen and (max-width: 992px) {
      //       font-size: 18px;
      //     }
      //   }
    
        .nav-center {
          transform: translateY(-30px);
          a{
            color: $primary;
          }
          .active {
            a {
              color: $red-text;
            }
          }
          text-align: center;
          li {
            display: inline-block;
          }
        }
        .row{
          padding-bottom: 20px;
          .col-12{
            max-height: 500px;
            padding: 0;
            text-align: center;
            overflow: auto;
            &::-webkit-scrollbar {
              width: 0.3rem;
              background: $blue;
            }
            &::-webkit-scrollbar-thumb {
              height: 3rem;
              background: $grey-100;
              border-radius: 10px;
            }
            .table{
              color: $primary;
              thead{
                position: sticky;
                top: 0px;
                background-color: $blue;
              }
              th,td{
                border-bottom: 1px solid $primary;
              }
              th{
                border-top: none;
              }
              .linkBooking{
                color: $primary;
                text-decoration: none;
              }
            }
          }
        }
        .theater-detail{
          background-color: $primary;
          padding: 0 ;
          display:block;
        }
      }
    @media screen and (max-width: 576px){
      .filmPosterTop, .styleBlur{
        display: none !important;
      }
      .styleGradient{
        z-index: 1;
      }
      .banner-mobile{
        display: block !important;
        .posterMobile {
          > img{
            width: 100%;
          }
          position: relative;
          .playTrailerMobile{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: 0;
            border: none;
            outline: none;
            z-index: 2;
          }
        }
        .detail-mobile {
          display: flex;
          align-items: center;
          .infoMobile{
            .date-time{
              color: $grey-300;
              font-weight: 500;
            }
          }
        }
        .content-mobile{
            color: $primary;
            max-height: 250px;
            padding: 10px;
            margin: 30px 0;
            overflow: auto;
            &::-webkit-scrollbar {
              width: 0.3rem;
              background: $grey-70;
            }
            &::-webkit-scrollbar-thumb {
              background: $grey-100;
              border-radius: 10px;
            }
        }
      }
      .theaters__info{
        position: relative;
        margin-top: 70px;
      }
      .theaters__logo{
        position: absolute !important;
        display:flex;
        flex-direction: row;
        top: -90px;
        left: 0;
        border: none !important;
        li{
          width: 57px;
        }
      }
      .theaters__address{
        width: 35% !important;
        .address__item{
          padding: 0.5rem !important;
        }
      }
      .theaters__film{
        width: 65% !important;
        .film__item{
          .film__schedule{
            .film__time{
              a{
                width: calc(50% - 1rem)!important;
              }
            }
          }
        }
      }
    }
  }


  
  