.login {
  background-image: url(./../images/login-background.jpg);
  background-size: contain;
  background-position: center;
  height: 100vh;
  .login_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 360px;
    padding: 40px 32px 30px;
    background-image: linear-gradient(
      to bottom,
      rgba(20, 50, 93, 0.9),
      rgba(8, 22, 48, 0.9)
    );
    box-shadow: 0 0 5px 0;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    img {
      width: 100%;
    }
    .close_login {
      position: absolute;
      top: -3%;
      left: 96%;
      border: 1px solid #fff;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #14325de6;
      cursor: pointer;
      i {
        color: #fff;
      }
    }
  }
}
