.modal {
    overflow: hidden;
    padding: 0;
    .modal-content {
      width: auto;
      height: auto;
      background-color: transparent;
      border: none;
      margin-left: -10rem;
    }
    .modal-body {
      margin: 0;
      padding: 0;
      button {
        position: absolute;
        top: -1rem;
        right: -1rem;
      }
    }
    @media screen and (max-width: 576px){
      .modal-content{
        margin: auto;
      }
      .modal-body{
        iframe{
          width: auto;
          height: auto;
        }
      }
    }
  }