.sighup {
  background-image: url(./../images/login-background.jpg);
  background-size: contain;
  background-position: center;
  height: 100vh;
  .sighup_item {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width: 360px;
    padding: 40px 32px 30px;
    background-image: linear-gradient(
      to bottom,
      rgba(20, 50, 93, 0.9),
      rgba(8, 22, 48, 0.9)
    );
    box-shadow: 0 0 5px 0;
    color: #fff;
    border-radius: 6px;
    img {
      width: 100%;
    }
    h1 {
      text-align: center;
      color: lawngreen;
      font-size: 25px;
    }
    button {
      margin: auto;
      display: block;
      width: 150px;
    }
  }
}
