.slides {
  .icon__slides {
    img {
      margin-bottom: 5rem;
    }
  }
  .carousel {
    padding-bottom: 43%;
    height: unset !important;
    .carousel-inner {
      position: absolute;

      top: 0;
      left: 0;
      height: 100%;
      .carousel-item {
        height: 100%;
        a {
          height: 100%;
          .img-slides {
            height: 100%;
          }
          .shadow {
            height: 100%;
          }
        }
      }
    }
  }
}
