#tin-tuc,
#detailNews {
  .news__icon,
  .news2__icon {
    button {
      border: none;
      background-color: transparent;
      color: gray;

      &:focus {
        outline: none;
      }
    }
    .shareIcon {
      color: gray;
    }
    svg:hover {
      transform: scale(1.2);
    }
  }
}
