body,
.wrapper {
  min-height: 100vh;
  position: relative;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
}

.sidebar .sidebar-wrapper {
  position: relative;
  max-height: calc(100vh - 75px);
  min-height: 100%;
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 100px;
}

.sidebar .logo,
body > .navbar-collapse .logo {
  padding: 10px 15px 9px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 4;
}

.sidebar .logo p,
body > .navbar-collapse .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #ffffff;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar .logo .simple-text,
body > .navbar-collapse .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}

.sidebar .logo-tim,
body > .navbar-collapse .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}

.sidebar .logo-tim img,
body > .navbar-collapse .logo-tim img {
  width: 60px;
  height: 60px;
}

.sidebar .nav,
body > .navbar-collapse .nav {
  margin-top: 20px;
  float: none;
  display: block;
}

.sidebar .nav li .nav-link,
body > .navbar-collapse .nav li .nav-link {
  color: #ffffff;
  margin: 5px 15px;
  opacity: 0.86;
  border-radius: 4px;
  display: block;
  padding: 10px 15px;
}

.sidebar .nav li .nav-link:hover,
body > .navbar-collapse .nav li .nav-link:hover {
  background: rgba(255, 255, 255, 0.13);
  opacity: 1;
}

.sidebar .nav li .nav-link p,
body > .navbar-collapse .nav li .nav-link p {
  margin: 0;
  line-height: 31px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
}

.sidebar .nav li .nav-link i,
body > .navbar-collapse .nav li .nav-link i {
  font-size: 28px;
  margin-right: 15px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  float: left;
}

.sidebar .nav li:hover .nav-link,
body > .navbar-collapse .nav li:hover .nav-link {
  background: rgba(255, 255, 255, 0.13);
  opacity: 1;
}

.sidebar .nav .nav-link.active,
body > .navbar-collapse .nav .nav-link.active {
  color: #ffffff;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}

.sidebar .nav li.separator,
body > .navbar-collapse .nav li.separator {
  margin: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .nav li.separator + .nav-item,
body > .navbar-collapse .nav li.separator + .nav-item {
  margin-top: 31px;
}

.sidebar .nav .caret,
body > .navbar-collapse .nav .caret {
  margin-top: 13px;
  position: absolute;
  right: 30px;
}

.sidebar .nav .active-pro,
body > .navbar-collapse .nav .active-pro {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.sidebar .nav .active-pro a,
body > .navbar-collapse .nav .active-pro a {
  color: #ffffff !important;
}

.sidebar .nav .nav-link,
body > .navbar-collapse .nav .nav-link {
  color: #ffffff;
  margin: 5px 15px;
  opacity: 0.86;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 12px;
  font-weight: 600;
}

.sidebar .logo,
body > .navbar-collapse .logo {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .logo p,
body > .navbar-collapse .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #ffffff;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar .logo .simple-text,
body > .navbar-collapse .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}

.sidebar:after,
.sidebar:before,
body > .navbar-collapse:after,
body > .navbar-collapse:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.sidebar:before,
body > .navbar-collapse:before {
  opacity: 0.33;
  background: #000000;
}

.sidebar:after,
body > .navbar-collapse:after {
  background: #9368e9;
  background: -moz-linear-gradient(top, #9368e9 0%, #943bea 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #9368e9),
    color-stop(100%, #943bea)
  );
  background: -webkit-linear-gradient(top, #9368e9 0%, #943bea 100%);
  background: -o-linear-gradient(top, #9368e9 0%, #943bea 100%);
  background: -ms-linear-gradient(top, #9368e9 0%, #943bea 100%);
  background: linear-gradient(to bottom, #9368e9 0%, #943bea 100%);
  background-size: 150% 150%;
  z-index: 3;
  opacity: 1;
}

.sidebar[data-color="black"]:after,
body > .navbar-collapse[data-color="black"]:after {
  background: #777777;
  background: -moz-linear-gradient(top, #777777 0%, #777777 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #777777),
    color-stop(100%, #777777)
  );
  background: -webkit-linear-gradient(top, #777777 0%, #777777 100%);
  background: -o-linear-gradient(top, #777777 0%, #777777 100%);
  background: -ms-linear-gradient(top, #777777 0%, #777777 100%);
  background: linear-gradient(to bottom, #777777 0%, #777777 100%);
  background-size: 150% 150%;
}

.sidebar[data-color="blue"]:after,
body > .navbar-collapse[data-color="blue"]:after {
  background: #1f77d0;
  background: -moz-linear-gradient(top, #1f77d0 0%, #533ce1 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #1f77d0),
    color-stop(100%, #533ce1)
  );
  background: -webkit-linear-gradient(top, #1f77d0 0%, #533ce1 100%);
  background: -o-linear-gradient(top, #1f77d0 0%, #533ce1 100%);
  background: -ms-linear-gradient(top, #1f77d0 0%, #533ce1 100%);
  background: linear-gradient(to bottom, #1f77d0 0%, #533ce1 100%);
  background-size: 150% 150%;
}

.sidebar[data-color="azure"]:after,
body > .navbar-collapse[data-color="azure"]:after {
  background: #1dc7ea;
  background: -moz-linear-gradient(top, #1dc7ea 0%, #4091ff 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #1dc7ea),
    color-stop(100%, #4091ff)
  );
  background: -webkit-linear-gradient(top, #1dc7ea 0%, #4091ff 100%);
  background: -o-linear-gradient(top, #1dc7ea 0%, #4091ff 100%);
  background: -ms-linear-gradient(top, #1dc7ea 0%, #4091ff 100%);
  background: linear-gradient(to bottom, #1dc7ea 0%, #4091ff 100%);
  background-size: 150% 150%;
}

.sidebar[data-color="green"]:after,
body > .navbar-collapse[data-color="green"]:after {
  background: #87cb16;
  background: -moz-linear-gradient(top, #87cb16 0%, #6dc030 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #87cb16),
    color-stop(100%, #6dc030)
  );
  background: -webkit-linear-gradient(top, #87cb16 0%, #6dc030 100%);
  background: -o-linear-gradient(top, #87cb16 0%, #6dc030 100%);
  background: -ms-linear-gradient(top, #87cb16 0%, #6dc030 100%);
  background: linear-gradient(to bottom, #87cb16 0%, #6dc030 100%);
  background-size: 150% 150%;
}

.sidebar[data-color="orange"]:after,
body > .navbar-collapse[data-color="orange"]:after {
  background: #ffa534;
  background: -moz-linear-gradient(top, #ffa534 0%, #ff5221 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ffa534),
    color-stop(100%, #ff5221)
  );
  background: -webkit-linear-gradient(top, #ffa534 0%, #ff5221 100%);
  background: -o-linear-gradient(top, #ffa534 0%, #ff5221 100%);
  background: -ms-linear-gradient(top, #ffa534 0%, #ff5221 100%);
  background: linear-gradient(to bottom, #ffa534 0%, #ff5221 100%);
  background-size: 150% 150%;
}

.sidebar[data-color="red"]:after,
body > .navbar-collapse[data-color="red"]:after {
  background: #fb404b;
  background: -moz-linear-gradient(top, #fb404b 0%, #bb0502 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fb404b),
    color-stop(100%, #bb0502)
  );
  background: -webkit-linear-gradient(top, #fb404b 0%, #bb0502 100%);
  background: -o-linear-gradient(top, #fb404b 0%, #bb0502 100%);
  background: -ms-linear-gradient(top, #fb404b 0%, #bb0502 100%);
  background: linear-gradient(to bottom, #fb404b 0%, #bb0502 100%);
  background-size: 150% 150%;
}

.sidebar[data-color="purple"]:after,
body > .navbar-collapse[data-color="purple"]:after {
  background: #9368e9;
  background: -moz-linear-gradient(top, #9368e9 0%, #943bea 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #9368e9),
    color-stop(100%, #943bea)
  );
  background: -webkit-linear-gradient(top, #9368e9 0%, #943bea 100%);
  background: -o-linear-gradient(top, #9368e9 0%, #943bea 100%);
  background: -ms-linear-gradient(top, #9368e9 0%, #943bea 100%);
  background: linear-gradient(to bottom, #9368e9 0%, #943bea 100%);
  background-size: 150% 150%;
}
.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
}

.sidebar,
.main-panel {
  overflow: auto;
  max-height: 100%;
  height: 100%;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}
.button_logout {
  left: 50%;
  transform: translate(-50%);
  display: none;
}
.logo:hover .button_logout {
  display: block;
}
