#tin-tuc .news__icon button,
#tin-tuc .news2__icon button,
#detailNews .news__icon button,
#detailNews .news2__icon button {
  border: none;
  background-color: transparent;
  color: gray;
}

#tin-tuc .news__icon button:focus,
#tin-tuc .news2__icon button:focus,
#detailNews .news__icon button:focus,
#detailNews .news2__icon button:focus {
  outline: none;
}

#tin-tuc .news__icon .shareIcon,
#tin-tuc .news2__icon .shareIcon,
#detailNews .news__icon .shareIcon,
#detailNews .news2__icon .shareIcon {
  color: gray;
}

#tin-tuc .news__icon svg:hover,
#tin-tuc .news2__icon svg:hover,
#detailNews .news__icon svg:hover,
#detailNews .news2__icon svg:hover {
  transform: scale(1.2);
}
/*# sourceMappingURL=index.css.map */