.modal {
  overflow: hidden;
  padding: 0;
}

.modal .modal-content {
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  margin-left: -10rem;
}

.modal .modal-body {
  margin: 0;
  padding: 0;
}

.modal .modal-body button {
  position: absolute;
  top: -1rem;
  right: -1rem;
}

@media screen and (max-width: 576px) {
  .modal .modal-content {
    margin: auto;
  }
  .modal .modal-body iframe {
    width: auto;
    height: auto;
  }
}

.login {
  background-image: url(./../images/login-background.jpg);
  background-size: contain;
  background-position: center;
  height: 100vh;
}

.login .login_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 360px;
  padding: 40px 32px 30px;
  background-image: linear-gradient(to bottom, rgba(20, 50, 93, 0.9), rgba(8, 22, 48, 0.9));
  box-shadow: 0 0 5px 0;
  text-align: center;
  color: #fff;
  border-radius: 6px;
}

.login .login_item img {
  width: 100%;
}

.login .login_item .close_login {
  position: absolute;
  top: -3%;
  left: 96%;
  border: 1px solid #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #14325de6;
  cursor: pointer;
}

.login .login_item .close_login i {
  color: #fff;
}

.sighup {
  background-image: url(./../images/login-background.jpg);
  background-size: contain;
  background-position: center;
  height: 100vh;
}

.sighup .sighup_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 360px;
  padding: 40px 32px 30px;
  background-image: linear-gradient(to bottom, rgba(20, 50, 93, 0.9), rgba(8, 22, 48, 0.9));
  box-shadow: 0 0 5px 0;
  color: #fff;
  border-radius: 6px;
}

.sighup .sighup_item img {
  width: 100%;
}

.sighup .sighup_item h1 {
  text-align: center;
  color: lawngreen;
  font-size: 25px;
}

.sighup .sighup_item button {
  margin: auto;
  display: block;
  width: 150px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 58.75rem;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.header .navbar {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header .navbar-brand {
  width: 40%;
  margin: 0 0 0 1rem;
}

.header .navbar-brand img {
  width: auto;
  height: 3rem;
}

.header .navbar-2 {
  width: calc(60% - 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav__1 {
  font-size: 0.875rem;
}

.header .nav__1 a {
  color: #000000;
  cursor: pointer;
}

.header .nav__1 a:hover {
  color: #fa5238;
}

.header .nav__2 .btn-sigh-out {
  position: absolute;
  top: 79%;
  right: 0;
  display: none;
}

.header .nav__2 .user-home {
  cursor: pointer;
}

.header .nav__2 .user-home:hover button.btn-sigh-out {
  display: block;
}

.header .header-mobile {
  display: none;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.header .header-mobile .main {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  outline: none;
}

.header .header-mobile .dropdown-menu {
  transform: translate(60%, 0px) !important;
  animation: showMenu 1s;
  width: 70%;
  padding: 10px;
}

@keyframes showMenu {
  from {
    transform: translate(1000px, 0px);
  }
  to {
    transform: translate(60%, 0px);
  }
}

.header .header-mobile .dropdown-menu .user-home span {
  padding: 7px;
}

.header .header-mobile .dropdown-menu .nav-item {
  font-weight: 500;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .header .navbar-brand {
    width: 30%;
  }
  .header .navbar-2 {
    width: 65%;
  }
  .header .navbar-2 .navbar-nav {
    flex-direction: row;
  }
  .header .navbar-2 .navbar-nav .nav-item {
    margin: 0 5px;
  }
  .header .navbar-2 .nav__2 .dropdown {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header .navbar, .header .cum-rap-mobile {
    display: none;
  }
  .header .header-mobile {
    display: flex;
  }
}

html {
  overflow-y: scroll;
}

.slides {
  position: relative;
  max-width: 100%;
  margin-top: 58px;
  cursor: pointer;
}

.slides .carousel:hover .play__video {
  display: block;
}

.slides .carousel-indicators li {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  margin-bottom: 6rem;
}

.slides .carousel-indicators .active {
  background-color: #fb4226;
}

.slides .icon__slides img {
  width: 3rem;
  height: 3rem;
}

.slides .carousel {
  height: 51.125rem;
}

.slides .carousel-item {
  height: 51.125rem;
}

.slides .carousel-item .img-slides {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

.slides .carousel-item .shadow::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #000000, transparent 20%);
}

.slides .carousel-item .play__video {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slides .carousel-item .play__video:hover {
  opacity: 0.75;
}

.slides .carousel-item .play__video img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
}

.slides .select__menu {
  z-index: 99;
  display: flex;
  align-items: center;
  width: 58.75rem;
  background-color: #ffffff;
  height: 5rem;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slides .select__menu .dropdown-menu {
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow: auto;
}

.slides .select__menu .dropdown-menu::-webkit-scrollbar {
  width: 0.3rem;
  background: #e4e4e4;
}

.slides .select__menu .dropdown-menu::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 10px;
}

.slides .select__menu .btn {
  width: 100%;
  height: 40px;
  background-image: url(./../images/arrowdown.png);
  background-repeat: no-repeat;
  background-position: 97%;
  text-align: left;
  border-right: 1px solid #9d9d9d;
  border-radius: 0;
  font-size: 0.875rem;
  cursor: pointer;
}

.slides .select__menu .select__film {
  width: 40%;
}

.slides .select__menu .btn-group {
  width: 100%;
}

.slides .select__menu .btn-group .detail__menu {
  width: 25%;
  max-height: 300px;
}

.slides .select__menu .btn-group .book__tickets {
  padding: 0 1rem;
}

.slides .select__menu .btn-group .book__tickets button {
  width: 100%;
  height: 40px;
  background-color: #4a4a4a;
  border: 0;
  border-radius: 0.3rem;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .slides .carousel-indicators {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .slides .carousel {
    height: auto;
  }
  .slides .carousel-item {
    height: 20rem;
  }
  .slides .select__menu {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .slides {
    display: none;
  }
}

.showTimes {
  padding-top: 4.5rem;
}

.showTimes .nav__film {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showTimes .nav__film a {
  padding: 0 1rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.showTimes .nav__film a:hover {
  font-size: 1.5rem;
  transition: all 0.2s;
}

.showTimes .nav__film .styleActive a {
  color: #fa5238;
  font-size: 1.5rem;
}

.showTimes .carousel-inner {
  animation: myshow 1s;
}

@keyframes myshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.showTimes .show__film {
  display: flex;
  flex-wrap: wrap;
}

.showTimes .show__film .film__col {
  position: relative;
  width: 25%;
  padding: 1rem 0.5rem;
}

.showTimes .show__film .film__col p {
  margin: 0.5rem 0;
}

.showTimes .show__film .film__col .film__img {
  position: relative;
  height: 329px;
}

.showTimes .show__film .film__col .film__img img {
  width: 100%;
  height: 100%;
}

.showTimes .show__film .film__col .film__img button {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showTimes .show__film .film__col .film__img button:hover {
  opacity: 0.75;
}

.showTimes .show__film .film__col .film__img button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
}

.showTimes .show__film .film__col .film__img .film__rate {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #1f2e46;
  opacity: 0.875;
  width: 3.375rem;
  border: 1px solid #1f2e46;
  border-radius: 0.3rem;
  padding-bottom: 0.5rem;
}

.showTimes .show__film .film__col .film__img .film__rate p {
  text-align: center;
  margin: 0 0.5rem;
  color: #ffffff;
}

.showTimes .show__film .film__col .film__img .film__rate .rate__img {
  display: flex;
}

.showTimes .show__film .film__col .film__img .film__rate .rate__img img {
  width: calc(100% / 5);
}

.showTimes .show__film .film__col .film__img .hover__show {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000000, transparent);
}

.showTimes .show__film .film__col .film__info {
  position: relative;
}

.showTimes .show__film .film__col .film__info .film__name {
  height: 42px;
}

.showTimes .show__film .film__col .film__info .film__name span {
  background-color: #fb4226;
  color: #ffffff;
  padding: 0.05rem 0.4rem;
  border-radius: 0.2rem;
}

.showTimes .show__film .film__col .film__info .film__name p {
  font-size: 1rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.showTimes .show__film .film__col .film__info .film__time {
  color: #656565;
}

.showTimes .show__film .film__col .film__info .hover__show2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fb4226;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.3rem 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.showTimes .show__film .film__col .film__info .hover__show2:hover {
  opacity: 0.75;
}

.showTimes .show__film .film__col:hover .hover__show,
.showTimes .show__film .film__col:hover .hover__show2,
.showTimes .show__film .film__col:hover button {
  visibility: visible;
  opacity: 1;
}

.showTimes .show__film .film__col:hover .film__name,
.showTimes .show__film .film__col:hover .film__time {
  visibility: visible;
  opacity: 0;
}

.showTimes .slides__film .arrow1__slides {
  left: -7rem;
}

.showTimes .slides__film .arrow2__slides {
  right: -7rem;
}

.showTimes .slides__film .arrow__img {
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 1200px) {
  .showTimes .carousel-control-prev,
  .showTimes .carousel-control-next {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .showTimes .showTimes {
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .showTimes .carousel {
    display: none;
  }
  .showTimes .showTimes-mobile-small {
    display: block !important;
  }
  .showTimes .showTimes-mobile-small .show__film {
    display: flex;
    flex-wrap: wrap;
  }
  .showTimes .showTimes-mobile-small .show__film .film__col {
    position: relative;
    width: 50%;
  }
}

.detail-movie {
  background-color: #0a2029;
  padding-bottom: 3rem;
}

.detail-movie .detailMainInfo1.h2 {
  font-size: 1.5rem !important;
}

.detail-movie .detailMainInfo1 {
  color: #e9e9e9 !important;
}

.detail-movie .ageType {
  margin-right: 6px !important;
  margin-top: 6px !important;
  background-color: #fb4226;
  color: #fff;
  border-radius: 4px;
  padding: 0 5px !important;
  display: inline-block;
  text-align: center;
  min-width: 33px;
}

.detail-movie .styleGradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #0a2029, transparent 100%);
}

.detail-movie .movie {
  position: relative;
  overflow: hidden;
}

.detail-movie .movie .movie-img > img {
  height: 800px;
  vertical-align: middle;
  filter: blur(15px);
  margin: -11px 0 -5px -10px;
  width: calc(100% + 5px);
}

.detail-movie .movie .filmPosterTop {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 870px;
}

.detail-movie .movie .filmPosterTop .filmInTop {
  position: relative;
  padding: 0;
}

.detail-movie .movie .filmPosterTop .filmInTop .posterMain > img {
  width: 100%;
}

.detail-movie .movie .filmPosterTop .filmInTop .posterMain .playTrailerDetail {
  visibility: hidden;
  opacity: 0;
  background: 0;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detail-movie .movie .filmPosterTop .filmInTop:hover .playTrailerDetail {
  visibility: visible;
  opacity: 1;
}

.detail-movie .movie .filmPosterTop .infoMain {
  margin-top: 12%;
}

.detail-movie .movie .movie-content {
  position: absolute;
  bottom: 10%;
  left: 35%;
  color: #fff;
  max-width: 35%;
  max-height: 150px;
  padding: 10px;
  overflow: auto;
}

.detail-movie .movie .movie-content::-webkit-scrollbar {
  width: 0.3rem;
  background: #e4e4e4;
}

.detail-movie .movie .movie-content::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 10px;
}

.detail-movie .circleStar {
  margin-top: 7%;
}

.detail-movie .circleStar .cirlcePercent {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 111px;
  height: 111px;
  margin: auto;
  font-size: 126px;
}

.detail-movie .circleStar .cirlcePercent .circleBorder {
  width: 111px;
  height: 111px;
  background: 0;
  border: 7.5px solid #3a3a3a;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
}

.detail-movie .circleStar .cirlcePercent span {
  line-height: 2.1;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detail-movie .circleStar .starMain {
  display: flex;
  align-items: center;
  margin-left: 10px !important;
}

.detail-movie .circleStar .starMain .smallStar > img {
  width: 100%;
  max-width: 25px;
}

.detail-movie .contentMain {
  max-width: 870px;
  margin: auto;
}

.detail-movie .contentMain .nav-center {
  transform: translateY(-30px);
  text-align: center;
}

.detail-movie .contentMain .nav-center a {
  color: #ffffff;
}

.detail-movie .contentMain .nav-center .active a {
  color: #fa5238;
}

.detail-movie .contentMain .nav-center li {
  display: inline-block;
}

.detail-movie .contentMain .row {
  padding-bottom: 20px;
}

.detail-movie .contentMain .row .col-12 {
  max-height: 500px;
  padding: 0;
  text-align: center;
  overflow: auto;
}

.detail-movie .contentMain .row .col-12::-webkit-scrollbar {
  width: 0.3rem;
  background: #1f2e46;
}

.detail-movie .contentMain .row .col-12::-webkit-scrollbar-thumb {
  height: 3rem;
  background: #9d9d9d;
  border-radius: 10px;
}

.detail-movie .contentMain .row .col-12 .table {
  color: #ffffff;
}

.detail-movie .contentMain .row .col-12 .table thead {
  position: sticky;
  top: 0px;
  background-color: #1f2e46;
}

.detail-movie .contentMain .row .col-12 .table th, .detail-movie .contentMain .row .col-12 .table td {
  border-bottom: 1px solid #ffffff;
}

.detail-movie .contentMain .row .col-12 .table th {
  border-top: none;
}

.detail-movie .contentMain .row .col-12 .table .linkBooking {
  color: #ffffff;
  text-decoration: none;
}

.detail-movie .contentMain .theater-detail {
  background-color: #ffffff;
  padding: 0;
  display: block;
}

@media screen and (max-width: 576px) {
  .detail-movie .filmPosterTop, .detail-movie .styleBlur {
    display: none !important;
  }
  .detail-movie .styleGradient {
    z-index: 1;
  }
  .detail-movie .banner-mobile {
    display: block !important;
  }
  .detail-movie .banner-mobile .posterMobile {
    position: relative;
  }
  .detail-movie .banner-mobile .posterMobile > img {
    width: 100%;
  }
  .detail-movie .banner-mobile .posterMobile .playTrailerMobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: 0;
    border: none;
    outline: none;
    z-index: 2;
  }
  .detail-movie .banner-mobile .detail-mobile {
    display: flex;
    align-items: center;
  }
  .detail-movie .banner-mobile .detail-mobile .infoMobile .date-time {
    color: #656565;
    font-weight: 500;
  }
  .detail-movie .banner-mobile .content-mobile {
    color: #ffffff;
    max-height: 250px;
    padding: 10px;
    margin: 30px 0;
    overflow: auto;
  }
  .detail-movie .banner-mobile .content-mobile::-webkit-scrollbar {
    width: 0.3rem;
    background: #e4e4e4;
  }
  .detail-movie .banner-mobile .content-mobile::-webkit-scrollbar-thumb {
    background: #9d9d9d;
    border-radius: 10px;
  }
  .detail-movie .theaters__info {
    position: relative;
    margin-top: 70px;
  }
  .detail-movie .theaters__logo {
    position: absolute !important;
    display: flex;
    flex-direction: row;
    top: -90px;
    left: 0;
    border: none !important;
  }
  .detail-movie .theaters__logo li {
    width: 57px;
  }
  .detail-movie .theaters__address {
    width: 35% !important;
  }
  .detail-movie .theaters__address .address__item {
    padding: 0.5rem !important;
  }
  .detail-movie .theaters__film {
    width: 65% !important;
  }
  .detail-movie .theaters__film .film__item .film__schedule .film__time a {
    width: calc(50% - 1rem) !important;
  }
}

.footer {
  background-color: #222;
  padding: 1rem;
}

.footer h1 {
  font-size: 0.75rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.footer .footer__info {
  display: flex;
  border-bottom: 1px solid #656565;
  padding-bottom: 1rem;
}

.footer .footer__info .info__item {
  width: calc(100% / 3);
}

.footer .footer__info .info__item .info__rule {
  display: flex;
}

.footer .footer__info .info__item .info__rule .rule__item {
  width: 50%;
}

.footer .footer__info .info__item .info__rule .rule__item p {
  margin-bottom: 0;
}

.footer .footer__info .info__item .info__rule .rule__item p a {
  font-size: 0.75rem;
  color: #656565;
  font-weight: bold;
  text-decoration: none;
}

.footer .footer__info .info__item .info__rule .rule__item p a:hover {
  color: #ffffff;
}

.footer .footer__info .info__partner {
  padding: 0 1rem;
}

.footer .footer__info .info__partner .partner__img {
  display: flex;
  flex-wrap: wrap;
}

.footer .footer__info .info__partner .partner__img a {
  width: 20%;
  margin: 0.5rem -0.5rem 0.5rem 0;
}

.footer .footer__info .info__partner .partner__img a img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
}

.footer .footer__info .info__connect {
  display: flex;
}

.footer .footer__info .info__connect .connect__item {
  text-align: center;
  width: 50%;
}

.footer .footer__info .info__connect .connect__item a img {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.footer .footer__contact {
  display: flex;
  padding-top: 1.5rem;
}

.footer .footer__contact .contact__logo {
  width: 6rem;
  padding-right: 1rem;
}

.footer .footer__contact .contact__logo img {
  width: 100%;
  border-radius: 0.5rem;
}

.footer .footer__contact .contact__content {
  flex-grow: 1;
}

.footer .footer__contact .contact__content p {
  font-size: 0.75rem;
  color: #9d9d9d;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.footer .footer__contact .contact__content p span {
  cursor: pointer;
  color: #fa5238;
}

.footer .footer__contact .contact__check {
  width: 9rem;
}

.footer .footer__contact .contact__check img {
  width: 100%;
}

.footer .footer__mobile-info {
  display: none;
  border-bottom: 1px solid #4a4a4a;
  padding-bottom: 1rem;
}

.footer .footer__mobile-info .rule__item {
  width: 50%;
  text-align: center;
}

.footer .footer__mobile-info .rule__item p {
  margin-bottom: 10px;
}

.footer .footer__mobile-info .rule__item p a {
  font-size: 0.75rem;
  color: #9d9d9d;
  font-weight: bold;
  text-decoration: none;
}

.footer .footer__mobile-info .connect__item {
  width: 50%;
}

.footer .footer__mobile-info .connect__item a img {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 992px) {
  .footer .footer__info {
    display: none;
  }
  .footer .footer__mobile-info {
    display: flex;
  }
  .footer .contact__content {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .footer .footer__mobile-info {
    flex-direction: column;
  }
  .footer .footer__mobile-info .rule__item {
    width: 100%;
  }
  .footer .footer__mobile-info .connect__item {
    width: 100%;
    text-align: center;
  }
  .footer .footer__contact {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__contact .contact__content {
    padding: 1rem 0;
  }
}

.headerBooking {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 3;
  top: -1px;
  left: 0;
  width: 100%;
  height: 80px;
}

.headerBooking .active {
  color: #fb4226;
  position: relative;
}

.headerBooking .active::after {
  content: "";
  border-bottom: 2px solid #fb4226;
  width: calc(100% - 28px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.headerBooking ul {
  font-weight: 500;
}

.headerBooking li {
  line-height: 80px;
  display: inline-block;
}

.headerBooking li .stepNumber {
  font-size: 18px;
}

.headerBooking .user-home {
  position: absolute;
  top: 0;
  right: 30%;
  cursor: pointer;
}

.headerBooking .user-home:hover button.btn-sigh-out {
  display: block;
}

.headerBooking .btn-sigh-out {
  position: absolute;
  top: 79%;
  right: 0;
  display: none;
}

#leftCheckout {
  min-height: calc(100% - 80px);
  width: 26%;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: -22%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#leftCheckout .modalleft {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}

#rightCheckout {
  position: fixed;
  top: 0;
  background-color: #fff;
  right: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 3;
  width: 440px;
  height: 100%;
  width: 26% !important;
}

#rightCheckout .contentFullRight {
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  padding-bottom: 100px;
  overflow-y: scroll;
}

#rightCheckout .contentFullRight .total {
  height: 80px;
  border-bottom: 1px dashed #e9e9e9;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
}

#rightCheckout .contentFullRight .total .totalCost {
  font-size: 36px;
  color: #44c020 !important;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  width: 300px;
}

#rightCheckout .contentFullRight .filmname {
  border-bottom: 1px dashed #e9e9e9;
  padding-bottom: 12.5px;
  font-size: 16px;
}

#rightCheckout .contentFullRight .filmname .c16 {
  background-color: #fb4226;
  color: #fff;
  border-radius: 4px;
  padding: 0 5px;
  float: left;
  margin-right: 5px;
  font-size: 12px;
  vertical-align: 2px;
  min-width: 33px;
  text-align: center;
}

#rightCheckout .contentFullRight .filmname .movie-name {
  font-weight: 500;
}

#rightCheckout .contentFullRight .chair {
  border-bottom: 1px dashed #e9e9e9;
  padding-bottom: 12.5px;
  padding-top: 12.5px;
  margin-bottom: 12.5px;
  display: flex;
}

#rightCheckout .contentFullRight .chair .info {
  padding-left: 0;
  width: 58.33333333%;
}

#rightCheckout .contentFullRight .chair .totalchair {
  width: 41.66666667%;
  color: #44c020 !important;
  font-size: 16px;
}

#rightCheckout .contentFullRight .infouser,
#rightCheckout .contentFullRight .voucher-promo {
  border-bottom: 1px dashed #e9e9e9;
  padding-bottom: 12.5px;
  margin-bottom: 12.5px;
  position: relative;
}

#rightCheckout .contentFullRight .infouser .row,
#rightCheckout .contentFullRight .voucher-promo .row {
  margin-left: 0;
  margin-right: 0;
}

#rightCheckout .contentFullRight .infouser .row #apply-voucher,
#rightCheckout .contentFullRight .voucher-promo .row #apply-voucher {
  background-color: #afafaf;
  border-radius: 6px;
  padding: 5px 7px;
  cursor: pointer;
  top: 5px;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  width: auto;
  position: absolute;
  right: 0;
}

#rightCheckout .contentFullRight .infouser .row #emailCheckout,
#rightCheckout .contentFullRight .infouser .row #phoneCheckout,
#rightCheckout .contentFullRight .infouser .row #voucherPromotion,
#rightCheckout .contentFullRight .voucher-promo .row #emailCheckout,
#rightCheckout .contentFullRight .voucher-promo .row #phoneCheckout,
#rightCheckout .contentFullRight .voucher-promo .row #voucherPromotion {
  margin-top: 5px;
  padding-top: 12.5px;
  outline: 0;
  width: calc(100% - 16px);
  padding-right: 5px;
  padding-left: 0;
  border: 0;
}

#rightCheckout .contentFullRight .infouser .row .no-font-weight,
#rightCheckout .contentFullRight .voucher-promo .row .no-font-weight {
  font-size: 12px;
  font-weight: 300;
  top: 2px;
  position: absolute;
  color: #9b9b9b;
  left: 0;
  z-index: 1;
}

#rightCheckout .contentFullRight .methodpay {
  margin-bottom: 40%;
  font-size: 16px;
  cursor: pointer;
}

#rightCheckout .contentFullRight .methodpay .titlemethodpay {
  margin-bottom: 5px;
}

#rightCheckout .contentFullRight .notice {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 4%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  margin-right: 19px;
  background: #fff;
  text-align: center;
  z-index: 2;
}

#rightCheckout .contentFullRight .notice .title {
  font-size: 14px;
  color: #4a4a4a;
}

#rightCheckout .contentFullRight .notice .icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

#rightCheckout .contentFullRight .buyticket button {
  background-color: #afafaf;
  position: absolute;
  width: 100%;
  border: none;
  outline: none;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  text-align: center;
  padding-top: 12px;
  font-size: 24px;
  color: #e9e9e9 !important;
  margin-right: 15px;
}

#rightCheckout .contentFullRight .buyticket button:hover {
  background-color: #fb4226;
}

#seatCheckout {
  margin-left: 4.3%;
  margin-top: 80px;
  float: left;
  padding-top: 30px;
  width: 69.7%;
}

#seatCheckout #seattv2 .topContent {
  width: 90%;
  margin: 0 auto;
  height: 59px;
}

#seatCheckout #seattv2 .topContent .righttittle {
  float: right;
  margin-top: 10px;
}

#seatCheckout #seattv2 .topContent .righttittle .info1 {
  line-height: 0;
  font-size: 10px;
  color: #9b9b9b;
  text-align: center;
}

#seatCheckout #seattv2 .topContent .righttittle .info2,
#seatCheckout #seattv2 .topContent .righttittle .minute,
#seatCheckout #seattv2 .topContent .righttittle .second {
  line-height: 1;
  font-size: 27px;
  color: #fb4226;
  text-align: center;
}

#seatCheckout #seattv2 .topContent .lefttittle {
  height: 0;
}

#seatCheckout #seattv2 .topContent .lefttittle .logocinema {
  float: left;
  width: 5.5%;
  margin-right: 13px;
}

#seatCheckout #seattv2 .topContent .lefttittle .logocinema img {
  width: 100%;
}

#seatCheckout #seattv2 .seatmap {
  margin-top: 10px;
}

#seatCheckout #seattv2 .seatmap .noteseat {
  margin-top: 50px;
  text-align: center;
}

#seatCheckout #seattv2 .seatmap .noteseat .typeseats {
  margin-top: 5px;
  display: flex;
  margin: 0 auto;
  width: 40%;
}

#seatCheckout #seattv2 .seatmap .noteseat .typeseats .typeseat {
  margin-right: 10px;
  width: calc(100% / 3);
}

#seatCheckout #seattv2 .seatmap .noteseat .typeseats .typeseat .nameseat {
  color: #9b9b9b;
  font-size: 12px;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .sreen {
  text-align: center;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .sreen .namesreen img {
  width: 90%;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .listseat .rowseat {
  line-height: 1.1em;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .listseat .rowseat button {
  width: 25px;
  height: 25px;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .listseat .rowseat .rowname {
  width: 22px;
  height: 18px;
  margin-right: 25px;
  position: relative;
  display: inline-block;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .listseat .rowseat .seat-wrapper {
  margin: 5px;
  border: none;
  background-color: #ffffff;
  position: relative;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .listseat .rowseat .seat-wrapper > i,
#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .listseat .rowseat .seat-wrapper .seatname {
  font-size: 20px;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .listseat .rowseat .colorPickSeat {
  color: #00ac4d;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .listseat .rowseat .colorSeat {
  color: #f7b500;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .listseat .rowseat .colorSeatPicked {
  color: #fb4226;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .listseat .rowseat .showButton {
  display: none;
}

#seatCheckout #seattv2 .seatmap .parent-panzoom #seatmanroom .listseat .rowseat .entrance {
  width: auto;
  transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .step02 {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  .user-home {
    right: 0 !important;
  }
  .headerBooking .pl-5 {
    padding-left: 0 !important;
  }
  #seatCheckout {
    width: 100%;
    margin-left: 0 !important;
  }
  #seatCheckout .seatmap .rowseat .rowname {
    display: none !important;
  }
  #seatCheckout .seatmap .rowseat .seat-wrapper {
    margin: 2px !important;
  }
  #seatCheckout .seatmap .rowseat .seat-wrapper > i,
  #seatCheckout .seatmap .rowseat .seat-wrapper .seatname {
    font-size: 15px !important;
  }
  .righttittle {
    position: absolute;
    right: 0;
    padding-right: 15px;
  }
  .form-pay {
    display: none;
  }
  .form-pay-mobile {
    display: block !important;
    padding: 0 50px;
    text-align: center;
  }
  .form-pay-mobile .totalCost {
    color: #00ac4d;
    font-size: 30px;
  }
  .form-pay-mobile .buyticket button {
    background-color: #fb4226;
    width: 100%;
    border: none;
    height: 50px;
    font-size: 24px;
    color: #e9e9e9;
    margin-top: 10px;
  }
  .form-pay-mobile .notice {
    padding-bottom: 4%;
  }
  .form-pay-mobile .notice .title {
    font-size: 14px;
    color: #4a4a4a;
  }
  .form-pay-mobile .notice .icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
}

.theaters {
  padding-top: 5rem;
}

.theaters .theaters__info {
  display: flex;
  border: 1px solid #e4e4e4;
  border-right: none;
  max-height: 44rem;
}

.theaters .theaters__info .scroll-bar {
  overflow-y: scroll;
}

.theaters .theaters__info .scroll-bar::-webkit-scrollbar {
  width: 0.3rem;
  background: #e4e4e4;
}

.theaters .theaters__info .scroll-bar::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 10px;
}

.theaters .theaters__info .theaters__logo {
  margin-bottom: 0;
  width: 5.75rem;
  list-style: none;
  border-right: 1px solid #e4e4e4;
  position: relative;
}

.theaters .theaters__info .theaters__logo .active {
  opacity: 1;
}

.theaters .theaters__info .theaters__logo li {
  margin-right: 0.1rem;
  position: relative;
}

.theaters .theaters__info .theaters__logo li a {
  padding: 1.3125rem;
}

.theaters .theaters__info .theaters__logo li a img {
  width: 3.125rem;
  padding: 1rem 0;
  border-bottom: 1px solid #e4e4e4;
  opacity: 0.3;
}

.theaters .theaters__info .theaters__logo li a img:hover {
  cursor: pointer;
  opacity: 1;
}

.theaters .theaters__info .theaters__address {
  width: 30%;
  border-right: 1px solid #e4e4e4;
}

.theaters .theaters__info .theaters__address .active {
  opacity: 0 !important;
}

.theaters .theaters__info .theaters__address .address__item {
  position: relative;
  display: flex;
  padding: 1rem;
}

.theaters .theaters__info .theaters__address .address__item .shadow__item {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: #FFFFF0;
}

.theaters .theaters__info .theaters__address .address__item .shadow__item:hover {
  cursor: pointer;
  opacity: 0;
}

.theaters .theaters__info .theaters__address .address__item img {
  width: 3.125rem;
}

.theaters .theaters__info .theaters__address .address__item .address__info {
  padding-left: 0.5rem;
  line-height: 1.2;
}

.theaters .theaters__info .theaters__address .address__item .address__info span {
  font-size: 0.875rem;
  font-weight: 600;
}

.theaters .theaters__info .theaters__address .address__item .address__info p {
  font-size: 0.75rem;
  color: #9d9d9d;
  margin-bottom: 0;
}

.theaters .theaters__info .theaters__address .address__item .address__info a {
  font-size: 0.75rem;
  color: #fb4226;
}

.theaters .theaters__info .theaters__film {
  width: calc(100% - 30% - 5.75rem);
}

.theaters .theaters__info .theaters__film .film__item {
  padding: 1rem 1rem 0.5rem 1rem;
}

.theaters .theaters__info .theaters__film .film__item .film__info {
  display: flex;
  align-items: center;
}

.theaters .theaters__info .theaters__film .film__item .film__info img {
  width: 3.125rem;
  height: 3.125rem;
}

.theaters .theaters__info .theaters__film .film__item .film__info .film__detail {
  padding-left: 1rem;
}

.theaters .theaters__info .theaters__film .film__item .film__info .film__detail p {
  margin-bottom: 0;
}

.theaters .theaters__info .theaters__film .film__item .film__info .film__detail span {
  background-color: #fb4226;
  color: #ffffff;
  padding: 0.03rem 0.5rem;
  border-radius: 0.2rem;
}

.theaters .theaters__info .theaters__film .film__item .film__info .film__detail .name {
  font-size: 0.875rem;
  font-weight: 600;
}

.theaters .theaters__info .theaters__film .film__item .film__info .film__detail .time {
  font-size: 0.75rem;
  color: #9d9d9d;
}

.theaters .theaters__info .theaters__film .film__item .film__schedule {
  padding-top: 0.5rem;
}

.theaters .theaters__info .theaters__film .film__item .film__schedule .film__quality {
  font-size: 1rem;
  font-weight: 600;
}

.theaters .theaters__info .theaters__film .film__item .film__schedule .film__time {
  padding-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e4e4e4;
  max-height: 110px;
  overflow: auto;
}

.theaters .theaters__info .theaters__film .film__item .film__schedule .film__time::-webkit-scrollbar {
  width: 0.3rem;
  background: #e4e4e4;
}

.theaters .theaters__info .theaters__film .film__item .film__schedule .film__time::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 10px;
}

.theaters .theaters__info .theaters__film .film__item .film__schedule .film__time a {
  color: #9d9d9d;
  font-weight: 600;
  width: calc(25% - 1rem);
  padding: 0.2rem;
  margin: 0 1rem 1rem 0;
  border: 1px solid #9d9d9d;
  border-radius: 0.5rem;
  background-color: #fafafa;
  text-decoration: none;
  text-align: center;
}

.theaters .theaters__info .theaters__film .film__item .film__schedule .film__time a span {
  color: #00ac4d;
  font-size: 1.1rem;
}

@media screen and (max-width: 576px) {
  .theaters {
    display: none;
  }
}

.news {
  padding-top: 4.5rem;
}

.news .nav__news {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news .nav__news a {
  padding: 0 1rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.news .nav__news a:hover {
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.news .nav__news .active a {
  color: #fa5238;
  font-size: 1.5rem;
}

.news .promotion {
  height: 760px;
  position: relative;
}

.news .promotion img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.news .news1, .news .news2 {
  animation: myshow 1s;
}

@keyframes myshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.news .news1 {
  display: flex;
}

.news .news1 .news1__item {
  width: 50%;
  margin: 0 0.5rem;
}

.news .news1 .news1__item img {
  width: 100%;
  height: 60%;
  border-radius: 0.2rem;
}

.news .news1 .news1__item img:hover {
  cursor: pointer;
}

.news .news1 .news1__item a {
  text-decoration: none;
}

.news .news1 .news1__item h1 {
  font-size: 1rem;
  margin: 0.5rem 0;
  height: 2.3rem;
}

.news .news1 .news1__item h1:hover {
  cursor: pointer;
  color: #fa5238;
}

.news .news1 .news1__item p {
  font-size: 0.875rem;
  color: #4a4a4a;
  height: 4rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news .news1 .news1__item .news__icon {
  margin-top: 1rem;
}

.news .news1 .news1__item .news__icon i {
  cursor: pointer;
  color: #9d9d9d;
}

.news .news1 .news1__item .news__icon i:hover {
  font-size: 1.1rem;
  transition: all 0.2s;
}

.news .news1 .news1__item .news__icon span {
  margin-left: 0.3rem;
  margin-right: 2rem;
  font-size: 0.75rem;
  color: #9d9d9d;
}

.news .news2 {
  display: flex;
  margin-bottom: 1rem;
}

.news .news2 .news2__item {
  width: calc(100% / 3);
  margin: 0 0.5rem;
}

.news .news2 .news2__item .news2__img img {
  width: 100%;
  border-radius: 0.2rem;
}

.news .news2 .news2__item .news2__img img:hover {
  cursor: pointer;
}

.news .news2 .news2__item .news2__info a {
  text-decoration: none;
}

.news .news2 .news2__item .news2__info h1 {
  font-size: 1rem;
  margin: 0.5rem 0;
  height: 2.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news .news2 .news2__item .news2__info h1:hover {
  cursor: pointer;
  color: #fa5238;
}

.news .news2 .news2__item .news2__info p {
  font-size: 0.875rem;
  color: #4a4a4a;
  height: 4rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news .news2 .news2__item .news2__info .news2__icon {
  margin-top: 1rem;
}

.news .news2 .news2__item .news2__info .news2__icon i {
  cursor: pointer;
  color: #9d9d9d;
}

.news .news2 .news2__item .news2__info .news2__icon i:hover {
  font-size: 1.1rem;
  transition: all 0.2s;
}

.news .news2 .news2__item .news2__info .news2__icon span {
  margin-left: 0.3rem;
  margin-right: 2rem;
  font-size: 0.75rem;
  color: #9d9d9d;
}

.news .news2 .news2__item2 {
  width: calc(100% / 3);
}

.news .news2 .news2__item2 .item2__row .item2__info {
  display: flex;
}

.news .news2 .news2__item2 .item2__row .item2__info a {
  text-decoration: none;
}

.news .news2 .news2__item2 .item2__row .item2__info img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.2rem;
}

.news .news2 .news2__item2 .item2__row .item2__info img:hover {
  cursor: pointer;
}

.news .news2 .news2__item2 .item2__row .item2__info .item2__detail {
  padding-left: 1rem;
}

.news .news2 .news2__item2 .item2__row .item2__info .item2__detail p {
  cursor: pointer;
  font-size: 1rem;
  color: #656565;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news .news2 .news2__item2 .item2__row .item2__info .item2__detail p:hover {
  color: #fa5238;
}

.news .news__more {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

.news .news__more button {
  padding: 0.4rem 1.5rem;
  background: #ffffff;
  color: #9d9d9d;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid #9d9d9d;
  border-radius: 0.3rem;
}

.news .news__more button:hover {
  background-color: #fb4226;
  color: #ffffff;
  outline: none;
}

@media screen and (max-width: 992px) {
  .news .news2 {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .news .nav__news a {
    font-size: 1rem !important;
  }
  .news .nav__news a:hover {
    font-size: 1rem;
    transition: 0;
  }
  .news .news1 {
    display: flex;
    flex-wrap: wrap;
  }
  .news .news1 .news1__item {
    width: 100%;
  }
  .news .news1 .news1__item .news__icon {
    display: none;
  }
  .news .news2 {
    flex-wrap: wrap;
  }
  .news .news2 .news2__item {
    width: 100%;
  }
  .news .news2 .news2__item .news2__icon {
    display: none;
  }
}

#detailNews {
  max-width: 860px;
}

#detailNews .title {
  position: relative;
  margin-top: 9%;
}

#detailNews .title p {
  max-width: 800px;
  text-align: center;
  margin: auto;
  font-family: 'Roboto Slab';
  font-size: 48px;
}

#detailNews .title .author {
  position: absolute;
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  color: #737576 !important;
  font-size: 12px;
  top: 86%;
  right: -29%;
}

#detailNews .title .author span {
  color: #000;
  font-family: "SF Medium";
}

#detailNews .count {
  margin-top: 3%;
  text-align: center;
}

#detailNews .count .wrapIcon {
  display: inline-table;
  margin-right: 25px;
  cursor: pointer;
}

#detailNews .count .iconFacebook {
  width: 16px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 2px;
  height: auto;
  width: 18px;
  transition: all .2s;
}

#detailNews .count span {
  font-size: 14px;
  color: #737576 !important;
  text-align: left;
}

#detailNews .count .amount {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
}

#detailNews .count .share {
  width: 110px;
}

#detailNews .content {
  margin-top: 40px;
  text-align: justify;
  font-size: 16px;
}

#detailNews .content h1, #detailNews .content p {
  margin: 20px auto 0;
  max-width: 720px;
}

#detailNews .content a {
  color: #2ba6cb;
}

#detailNews .content .isVideo {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

#detailNews .content .isVideo iframe {
  position: absolute;
  top: calc(50% - 210px);
  left: calc(50% - 350px);
}

#detailNews .content img {
  width: auto;
  max-width: 100%;
  height: auto;
}

#detailNews .line {
  margin-top: 2%;
  margin-bottom: 20px;
}

#detailNews .list {
  margin-bottom: 55px;
}

#detailNews .news2 {
  display: flex;
}

#detailNews .news2 .news2__item {
  width: calc(100% / 3);
  margin: 0 0.5rem;
}

#detailNews .news2 .news2__item .news2__img img {
  width: 100%;
  border-radius: 0.2rem;
}

#detailNews .news2 .news2__item .news2__img img:hover {
  cursor: pointer;
}

#detailNews .news2 .news2__item .news2__info h1 {
  font-size: 1rem;
  margin: 0.5rem 0;
  height: 2.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

#detailNews .news2 .news2__item .news2__info h1:hover {
  cursor: pointer;
  color: #fa5238;
}

#detailNews .news2 .news2__item .news2__info p {
  font-size: 0.875rem;
  color: #4a4a4a;
  height: 4rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

#detailNews .news2 .news2__item .news2__info .news2__icon {
  margin-top: 1rem;
}

#detailNews .news2 .news2__item .news2__info .news2__icon i {
  cursor: pointer;
  color: #9d9d9d;
}

#detailNews .news2 .news2__item .news2__info .news2__icon i:hover {
  font-size: 1.1rem;
  transition: all 0.2s;
}

#detailNews .news2 .news2__item .news2__info .news2__icon span {
  margin-left: 0.3rem;
  margin-right: 2rem;
  font-size: 0.75rem;
  color: #9d9d9d;
}

#detailNews .news2 .news2__item2 {
  width: calc(100% / 3);
}

#detailNews .news2 .news2__item2 .item2__row .item2__info {
  display: flex;
}

#detailNews .news2 .news2__item2 .item2__row .item2__info img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.2rem;
}

#detailNews .news2 .news2__item2 .item2__row .item2__info img:hover {
  cursor: pointer;
}

#detailNews .news2 .news2__item2 .item2__row .item2__info .item2__detail {
  padding-left: 1rem;
}

#detailNews .news2 .news2__item2 .item2__row .item2__info .item2__detail p {
  cursor: pointer;
  font-size: 1rem;
  color: #656565;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

#detailNews .news2 .news2__item2 .item2__row .item2__info .item2__detail p:hover {
  color: #fa5238;
}

#detailNews .news__more {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

#detailNews .news__more button {
  padding: 0.4rem 1.5rem;
  background: #ffffff;
  color: #9d9d9d;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid #9d9d9d;
  border-radius: 0.3rem;
}

#detailNews .news__more button:hover {
  background-color: #fb4226;
  color: #ffffff;
  border: none;
}

#detailReviewer {
  max-width: 810px;
  margin: auto;
}

#detailReviewer .dadInputReviewer.newDesign {
  max-width: 580px;
  margin: 0 calc(50% - 290px);
  padding: 0;
}

#detailReviewer .imgReviewer {
  position: absolute;
  top: 20%;
  left: 3%;
}

#detailReviewer .imgReviewer img {
  height: 36px;
  width: 36px;
  border-radius: 25px;
}

#detailReviewer .inputReviwer {
  appearance: none;
  padding: 10px 10px 10px 55px;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #e8e8e9;
  background: #fff;
  color: #9b9b9b;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .list-news {
    padding: 30px 5px 0 5px;
  }
  .author {
    display: none;
  }
  .isVideo {
    margin: auto;
  }
  .isVideo iframe {
    width: 300px;
    height: 200px;
    top: 0 !important;
    left: 40px !important;
  }
  .newDesign {
    margin: 0 !important;
  }
  .row {
    margin: 0 !important;
  }
  .nav__news a {
    font-size: 1rem !important;
  }
  .nav__news a:hover {
    font-size: 1rem;
    transition: 0;
  }
  .news1 {
    display: flex;
    flex-wrap: wrap;
  }
  .news1 .news1__item {
    width: 100% !important;
  }
  .news1 .news1__item .news__icon {
    display: none;
  }
  .news2 {
    flex-wrap: wrap;
  }
  .news2 .news2__item {
    width: 100% !important;
  }
  .news2 .news2__item .news2__icon {
    display: none;
  }
}

.apps .apps__bg {
  background: url(./../images/bg-app.jpg);
  background-size: contain;
}

.apps .apps__content {
  display: flex;
  padding: 7.5rem 0 5rem 0;
}

.apps .apps__content .apps__item1 {
  width: 50%;
  line-height: 1.5;
  padding: 5rem 1rem 0 1rem;
}

.apps .apps__content .apps__item1 h1 {
  color: #ffffff;
  font-size: xx-large;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.apps .apps__content .apps__item1 p {
  color: #ffffff;
  font-size: medium;
  font-weight: 500;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
}

.apps .apps__content .apps__item1 button {
  background-color: #fb4226;
  color: #ffffff;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
}

.apps .apps__content .apps__item1 a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

.apps .apps__content .apps__item2 {
  width: 50%;
  padding: 0 13%;
}

.apps .apps__content .apps__item2 img {
  width: 100%;
}

.apps .apps__content .apps__item2 .apps__item2-img {
  position: relative;
}

.apps .apps__content .apps__item2 .apps__item2-slick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.35rem;
  overflow: hidden;
  border-radius: 2.5rem;
}

.apps .apps__content .apps__item2 .apps__item2-slick button {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .apps .apps__content {
    flex-wrap: wrap;
  }
  .apps .apps__content .apps__item1 {
    width: 100%;
    text-align: center;
  }
  .apps .apps__content .apps__item2 {
    width: 100%;
    padding: 0 25%;
  }
}
/*# sourceMappingURL=main.css.map */