@media screen and (max-width: 768px) {
  .sidebar {
    bottom: unset !important;
    width: 100% !important;
    height: 50px !important;
    overflow: unset !important;
  }
}

@media screen and (max-width: 768px) {
  .sidebar .sidebar-wrapper {
    overflow: unset !important;
    width: 100% !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    padding-bottom: unset !important;
  }
}

@media screen and (max-width: 768px) {
  .sidebar .sidebar-wrapper .routeAdmin {
    display: none;
  }
}

.sidebar .sidebar-wrapper .routeAdmin-mobile {
  display: none;
  margin-bottom: unset !important;
}

@media screen and (max-width: 768px) {
  .sidebar .sidebar-wrapper .routeAdmin-mobile {
    display: block;
    margin-bottom: 0;
  }
}

.sidebar .sidebar-wrapper .navbar__mobile {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 4rem;
}

.sidebar .sidebar-wrapper .navbar__mobile > div {
  height: 100%;
  background-color: #2f64d5;
}

@media screen and (max-width: 768px) {
  .sidebar .sidebar-wrapper .logo {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .sidebar .sidebar-wrapper .logo .button_logout {
    position: unset !important;
    display: block;
    transform: unset;
  }
}

.main-panel h1 {
  font-size: xx-large;
}

.main-panel p,
.main-panel h3,
.main-panel div {
  font-size: medium;
}

@media screen and (max-width: 768px) {
  .main-panel {
    float: unset !important;
    width: 100% !important;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=reponsiveDash.css.map */