.slides .icon__slides img {
  margin-bottom: 5rem;
}

.slides .carousel {
  padding-bottom: 43%;
  height: unset !important;
}

.slides .carousel .carousel-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.slides .carousel .carousel-inner .carousel-item {
  height: 100%;
}

.slides .carousel .carousel-inner .carousel-item a {
  height: 100%;
}

.slides .carousel .carousel-inner .carousel-item a .img-slides {
  height: 100%;
}

.slides .carousel .carousel-inner .carousel-item a .shadow {
  height: 100%;
}
/*# sourceMappingURL=slider.css.map */