$primary: #ffffff;
$secondary: #fb4226;
$green-500: #00ac4d;
$green-300: #8bc541;
$red-text: #fa5238;
$grey-500: #4a4a4a;
$grey-300: #656565;
$grey-100: #9d9d9d;
$grey-70: #e4e4e4;
$grey-50: #fafafa;
$black-text: #000000;
$blue: #1f2e46;